html{
    width:100%;
    height:100%;
}
body {
    display: flexbox;
    flex-direction: column;
    min-height: 100vh;

}
body>header
{
 
    background-color:rgba(95, 69, 69, 0.2);
}

header>div
{
    font-size: 3em;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 30px;
}
.NavigationBox
{
    background-color:rgba(236, 214, 214, 0.5);
     width: 13.3%;
    float: left;
    padding-top:20px;
    padding-bottom:20px;
}
.Content
{
   
         width: 70%;
         float: left;
  
}
.MoreStuff
{
         background-color: rgba(115, 108, 85, 0.54);
    width: 14.71%;
    
    float: left;
}
   